@model ensemble_webapp.ViewModels.DashboardVM
@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><strong>Dashboard</strong></h2>
        </div>
    </div>
    <div class=" row">
        <div class="col-12">
            <p><i>Hello, @Model.CurrentUser.StrName!</i></p>
        </div>
        <div class="col-12">
            @if (Model.LstUpcomingRehearsals.Any())
            {
                <p><strong>Upcoming Rehearsals:</strong></p>
                <ul>
                    @foreach (var r in Model.LstUpcomingRehearsals)
                    {
                        <li>
                            <p>@r.DtmStartDateTime to @r.DtmEndDateTime</p>
                            <br />
                            <p>at @r.StrLocation</p>
                            @if (!@r.StrNotes.IsEmpty())
                            {
                                <br />
                                <p>Notes: @r.StrNotes</p>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p><i>You have no upcoming rehearsals</i></p>
            }
        </div>
        <br />
        <div class="col-12">
            @if (Model.LstUpcomingTasks.Any())
            {
                <p><strong>Tasks Due in Next 2 Days</strong></p>
                <ul>
                    @foreach (var t in Model.LstUpcomingTasks)
                    {
                        if (!@t.YsnIsFinished)
                        {
                            <li>
                                <p>@t.StrName due @t.DtmDue</p>
                                <p>@t.StrAttachment</p>
                                <p>in @t.Event.StrName from @t.UserAssignedBy.StrName</p>
                            </li>
                        }
                    }
                </ul>
            }
            else
            {
                <p><i>You have no tasks due in the next 2 days</i></p>
            }
            @if (Model.LstOverdueTasks.Any())
            {
                <p style="color:#ff0000"><strong>Overdue Tasks</strong></p>
                <ul>
                    @foreach (var t in Model.LstOverdueTasks)
                    {
                        <li><span style="color:#ff0000">
                            @t.StrName was due @t.DtmDue
                            @t.StrAttachment
                            in @t.Event.StrName from @t.UserAssignedBy.StrName
                        </span></li>
                    }
                </ul>
            }
        </div>
        <br />
        <div class="col-12">
            @if (Model.LstEvents.Any())
            {
                <p><strong>Your Events</strong></p>
                <ul>
                    @foreach (var e in Model.LstEvents)
                    {
                        <li>@e.StrName</li>
                    }
                </ul>
            } else
            {
                <p><i>you're not a part of any events</i></p>
                <br />
                <p><i>go to the profile page to join an event!</i></p>
            }
        </div>
    </div>  
</div>