@model ensemble_webapp.ViewModels.DashboardVM
@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Dashboard</h2>
        </div>
    </div>
    <div class=" row">
        <div class="col-12">
            <p>@Model.CurrentUser.StrName</p>
        </div>
        <div class="col-12">
            <p>upcoming rehearsals</p>
            @if (Model.LstUpcomingRehearsals.Any())
            {
                <ul>
                    @foreach (var r in Model.LstUpcomingRehearsals)
                    {
                        <li>
                            <p>@r.DtmStartDateTime to @r.DtmEndDateTime</p>
                            <br />
                            <p>at @r.StrLocation</p>
                            @if (!@r.StrNotes.IsEmpty())
                            {
                                <br />
                                <p>Notes: @r.StrNotes</p>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>no upcoming rehearsals</p>
            }
        </div>
        <br />
        <div class="col-12">
            @if (Model.LstUpcomingTasks.Any())
            {
                <ul>
                    @foreach (var t in Model.LstUpcomingTasks)
                    {
                        <li>
                            <p>@t.StrName due @t.DtmDue</p>
                            <br />
                            <p>@t.StrAttachment</p>
                            <br />
                            <p>in @t.Event from @t.UserAssignedBy</p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>no tasks due in next two days</p>
            }
        </div>
        <br />
        <div class="col-12">
            @using (Html.BeginForm("Index", "Tasks"))
            {
                <input type="submit" value="see all tasks" />
            }
        </div>
        <div class="col-12">
            <p>events you're a part of</p>
            <ul>
                @foreach (var e in Model.LstEvents)
                {
                    <li>@e.StrName</li>
                }
            </ul>
        </div>
    </div>  
</div>