@model ensemble_webapp.ViewModels.DashboardVM
@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><strong>Dashboard</strong></h2>
        </div>
    </div>
    <div class=" row">
        <div class="col-12">
            <p>Hello, @Model.CurrentUser.StrName!</p>
        </div>
        <div class="col-12">
            @if (Model.LstUpcomingRehearsals.Any())
            {
                <p>upcoming rehearsals:</p>
                <ul>
                    @foreach (var r in Model.LstUpcomingRehearsals)
                    {
                        <li>
                            <p>@r.DtmStartDateTime to @r.DtmEndDateTime</p>
                            <br />
                            <p>at @r.StrLocation</p>
                            @if (!@r.StrNotes.IsEmpty())
                            {
                                <br />
                                <p>Notes: @r.StrNotes</p>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>no upcoming rehearsals</p>
            }
        </div>
        <br />
        <div class="col-12">
            @if (Model.LstUpcomingTasks.Any())
            {
                <p>tasks due within 2 days:</p>
                <ul>
                    @foreach (var t in Model.LstUpcomingTasks)
                    {
                        if (!@t.YsnIsFinished)
                        {
                            <li>
                                <p>@t.StrName due @t.DtmDue</p>
                                <br />
                                <p>@t.StrAttachment</p>
                                <br />
                                <p>in @t.Event.StrName from @t.UserAssignedBy.StrName</p>
                            </li>
                        }
                    }
                </ul>
            }
            else
            {
                <p>no tasks due in next two days</p>
            }
            @if (Model.LstOverdueTasks.Any())
            {
                <p style="color:#ff0000">overdue tasks</p>
                <ul>
                    @foreach (var t in Model.LstOverdueTasks)
                    {
                        <li><span style="color:#ff0000">
                            <p>@t.StrName was due @t.DtmDue</p>
                            <br />
                            <p>@t.StrAttachment</p>
                            <br />
                            <p>in @t.Event.StrName from @t.UserAssignedBy.StrName </p>
                        </span></li>
                    }
                </ul>
            }
        </div>
        <br />
        <div class="col-12">
            @if (Model.LstEvents.Any())
            {
                <p>events you're a part of</p>
                <ul>
                    @foreach (var e in Model.LstEvents)
                    {
                        <li>@e.StrName</li>
                    }
                </ul>
            } else
            {
                <p>you're not a part of any events</p>
                <br />
                <p>go to the profile page to join an event!</p>
            }
        </div>
    </div>  
</div>