@model ensemble_webapp.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @Html.EditorFor(m => m.logInUser.StrUsername)
        @Html.EditorFor(m => m.logInUser.StrPassword)
    </p>
}

<br />
<br />
<br />

@using (Html.BeginForm("NewUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @Html.EditorFor(m => m.newUser.StrUsername)
        @Html.EditorFor(m => m.newUser.StrPassword)
        @Html.EditorFor(m => m.newUser.LstEvents)
    </p>
}
