@model ensemble_webapp.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<p>login</p>
@using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <label for="logInUser.StrName">Name</label>
        @Html.EditorFor(m => m.logInUser.StrName, new { htmlAttributes = new { @class = "form-control" } })
        <br />
        <label for="logInUser.StrPassword">Password</label>
        @Html.PasswordFor(m => m.logInUser.StrPassword, new { @class = "form-control" } )
    </p>

    <input type="submit" value="log in" class="form-control" />
}

<br />
<br />
<br />

<p>new user</p>
@using (Html.BeginForm("NewUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <label for="newUser.StrName">New Username</label>
        @Html.EditorFor(m => m.newUser.StrName, new { htmlAttributes = new { @class = "form-control" } })
        <br />
        <label for="newUser.StrEmail">Email</label>
        @Html.EditorFor(m => m.newUser.StrEmail, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
        <br />
        <label for="newUser.StrPhone">Phone</label>
        @Html.EditorFor(m => m.newUser.StrPhone, new { htmlAttributes = new { @class = "form-control", @type = "tel" } })
        <br />
        <label for="newUser.StrPassword">New Password</label>
        @Html.PasswordFor(m => m.newUser.StrPassword, new { @class = "form-control" })
        <br />
        <input type="submit" value="create account" class="form-control" />
    </p>
}