@model ensemble_webapp.ViewModels.CallboardHomeVM
@{
    ViewBag.Title = "CallboardHome";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>CallboardHome</h2>
        </div>
        <div class="col-12">
            <p>callboard notifications</p>
                @if (Model.LstAllCallboards != null)
                {
                    foreach (var c in Model.LstAllCallboards)
                    {
                        <ul>
                            <li>
                                <p>@c.StrSubject in @c.Event from @c.PostedByUser at @c.DtmDateTime</p>
                                <br />
                                <p>@c.StrNote</p>
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <p>You do not have any current annoucements.</p>
                }
            </ul>
        </div>
    </div>
</div>

@*        place for admin to add callboard annoucements*@