@using ensemble_webapp.Database
@using ensemble_webapp.Models

@model ensemble_webapp.ViewModels.CallboardHomeVM
@{
    ViewBag.Title = "CallboardHome";
}

<div class="container">

    <div class="row">
        <div class="col-12">
            <h2><strong>Callboard</strong></h2>
        </div>
        <div class="col-12">
            <p>callboard notifications</p>
            @if (Model.LstAllCallboards.Any())
            {
                foreach (var c in Model.LstAllCallboards)
                {
                    <ul>
                        <li>
                            <p>@c.StrSubject in @c.Event.StrName from @c.PostedByUser.StrName at @c.DtmDateTime:</p>
                            <p>@c.StrNote</p>
                        </li>
                    </ul>
                }
            }
            else
            {
                <p>You do not have any current annoucements.</p>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Globals.IS_ADMIN)
            {
                using (Html.BeginForm("AddAnnouncement", "Callboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="NewAnnouncement.StrSubject">Subject</label>
                    @Html.EditorFor(m => m.NewAnnouncement.StrSubject, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    <label for="NewAnnouncement.StrNote">Note</label>
                    @Html.TextAreaFor(m => m.NewAnnouncement.StrNote, new { @class = "form-control" })
                    <br />
                    <label for="NewAnnouncement.Event">Event</label>
                    @Html.DropDownListFor(m => m.NewAnnouncement.Event.IntEventID, new SelectList(Model.LstAdminEvents, "intEventID", "strName"), new { @class = "form-control" })
                    <br />
                    <input type="submit" value="add callboard announcement" class="form-control btn-primary" />
                }
            }
        </div>
    </div>

</div>