@model ensemble_webapp.ViewModels.TasksHomeVM
@{
    ViewBag.Title = "TasksHome";
}

<h2>Tasks</h2>

<p>Name: @Model.CurrentUser.StrName</p>

<p>
    Tasks to do
</p>

<ul>
    @foreach (var t in Model.TasksNotYetDueForUser)
    {
        <li>@t.StrName (due @t.DtmDue) for @t.Event.StrName</li>
        <embed src="@t.StrAttachment" width="600px" height="200px" />
    }
</ul>

<br />
<br />
<br />

<p>
    Overdue Tasks
</p>

<ul>
    @foreach (var t in Model.TasksOverDueForUser)
    {
        <li><span style="color: #f00">@t.StrName (due @t.DtmDue) for @t.Event.StrName</span></li>
        <embed src="@t.StrAttachment" width="600px" height="200px" />
    }
</ul>

<p>
    if this user is an admin, then show a form to add a task for the event
</p>