@model ensemble_webapp.ViewModels.TasksHomeVM
@{
    ViewBag.Title = "TasksHome";
}


    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Tasks</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Name: @Model.CurrentUser.StrName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    Tasks to do
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    @foreach (var t in Model.TasksNotYetDueForUser)
                    {
                        <li>
                            @t.IntTaskID:  @t.StrName (due @t.DtmDue) for @t.Event.StrName
                            <br />
                            @t.StrAttachment
                        </li>

                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Overdue Tasks</p>
                <ul>
                    @foreach (var t in Model.TasksOverDueForUser)
                    {
                        <li>
                            <span style="color: #f00">
                                @t.IntTaskID: @t.StrName (due @t.DtmDue) for @t.Event.StrName
                                <br />
                                @t.StrAttachment
                            </span>
                        </li>

                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Tasks Assigned By You</p>
                <ul>
                    @foreach (var t in Model.TasksAssignedByUser)
                    {
                        <li>
                            @t.StrName (due @t.DtmDue from @t.UserAssignedTo.StrName)
                            <br />
                            @t.StrAttachment
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row-new-task">
            @using (Html.BeginForm("AddTask", "Tasks", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="NewTask.DtmDue">due date</label>
                @Html.EditorFor(m => m.NewTask.DtmDue, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label for="NewTask.StrName">name</label>
                @Html.EditorFor(m => m.NewTask.StrName, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label for="NewTask.StrAttachment">description</label>
                @Html.EditorFor(m => m.NewTask.StrAttachment, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label for="NewTask.UserAssignedTo.IntUserID">assign to user</label>
                @Html.DropDownListFor(m => m.NewTask.UserAssignedTo.IntUserID, new SelectList(Model.LstAllUsers, "intUserID", "strName"), new { @class = "form-control" })
                <br/>
                <label for="NewTask.Event.IntEventID">event</label>
                @Html.DropDownListFor(m => m.NewTask.Event.IntEventID, new SelectList(Model.LstAllEvents, "intEventID", "strName"), new { @class = "form-control" })
                <br/>
                <input type="submit" value="create task" class="form-control btn-primary" />
            }
        </div>
    </div>