@model ensemble_webapp.ViewModels.ScheduleViewVM
@{
    ViewBag.Title = "ScheduleView";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2><strong>Schedule of Rehearsal Parts</strong></h2>
        </div>
    </div>

    <hr />

    @*@using (Html.BeginForm("ConfirmSchedule", "Schedule", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {*@
        
        <div class="not-yet-confirmed text-center">
            <button class="btn btn-success" onclick="confirmSchedule()">Confirm Rehearsal Parts</button>
            @*<input type="submit" value="Confirm Schedule" class="form-control btn-success btn" />*@
            <div class="text-small">This saves each individual rehearsal part. It does not save locations or notes; hit confirm on each row to enter those.</div>
            @if (Model.Schedule.LstUnscheduledRehearsalParts.Any())
            {
                <br /><br />
                <div class="text-small"><i>Any rehearsals parts listed as "unscheduled" will not be saved.</i></div>
            }
        </div>
        <div class="confirmed" style="color: green; display: none;">
            <h2>Rehearsal schedule confirmed!</h2>
            <div class="text-small"><i>Any rehearsals parts listed as "unscheduled" were NOT saved.</i></div>
        </div>
        <br />
        @if (Model.LstTmpRehearsals.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Rehearsal Parts</td>
                        <td>Start</td>
                        <td>End</td>
                        <td>Location</td>
                        <td>Notes</td>
                        <td>Confirm</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.LstTmpRehearsals)
                    {
                        <tr id="@(r.DtmStartDateTime.ToString("yyyyMMdd") + "_row")">
                            <td>
                                <ul>
                                    @foreach (var rp in r.LstRehearsalParts)
                                    {
                                        <li>@rp</li>
                                    }
                                </ul>
                            </td>
                            <td id="@(r.DtmStartDateTime.ToString("yyyyMMdd") + "_hiddenDateStart")">@r.DtmStartDateTime</td>
                            <td id="@(r.DtmStartDateTime.ToString("yyyyMMdd") + "_hiddenDateEnd")">@r.DtmEndDateTime</td>
                            <td>
                                @Html.EditorFor(m => m.SingleConfirmedRehearsal.StrLocation, new { htmlAttributes = new { @class = "form-control", @id = r.DtmStartDateTime.ToString("yyyyMMdd") + "_strLocation" } })
                                <span id="@(r.DtmStartDateTime.ToString("yyyyMMdd") + "_hiddenConfirmLocation")"></span>
                            </td>
                            <td>
                                @Html.TextAreaFor(m => m.SingleConfirmedRehearsal.StrNotes, new { @class = "form-control", @id = r.DtmStartDateTime.ToString("yyyyMMdd") + "_strNotes" } )
                                <span id="@(r.DtmStartDateTime.ToString("yyyyMMdd") + "_hiddenConfirmNotes")"></span>
                            </td>
                            <td>
                                <button class="btn btn-success" id="@(r.DtmStartDateTime.ToString("yyyyMMdd") + "_confirmedButton")" onclick="confirmSingleRehearsal(@r.DtmStartDateTime.ToString("yyyyMMdd"))">Confirm <i class="fas fa-check"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (Model.Schedule.LstScheduledRehearsalParts.Any())
        {
            <hr/>
            <div class="row">
                <div class="col">
                    <h2><i>The following rehearsal parts were scheduled:</i></h2>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Rehearsal Part ID</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Description</th>
                        <th>Length</th>
                        <th>Type</th>
                        <th>Who</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.Schedule.LstScheduledRehearsalParts)
                    {
                        <tr>
                            <td>@r.IntRehearsalPartID</td>
                            <td>@r.DtmStartDateTime</td>
                            <td>@r.DtmEndDateTime</td>
                            <td>@r.StrDescription</td>
                            <td>@r.DurLength.Hours.ToString()h @r.DurLength.Minutes.ToString()m </td>
                            <td>@r.Type.StrName</td>
                            <td>@String.Join(", ", r.LstMembers.Select(m => m.StrName).ToArray())</td>
                            <td>@r.Event.StrName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (Model.Schedule.LstUnscheduledRehearsalParts.Any())
        {
            <hr/>
            <div class="row">
                <div class="col">
                    <h2>The following rehearsals were unable to be scheduled</h2>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Rehearsal Part ID</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Description</th>
                        <th>Length</th>
                        <th>Type</th>
                        <th>Who</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.Schedule.LstUnscheduledRehearsalParts)
                    {
                        <tr>
                            <td>@r.IntRehearsalPartID</td>
                            <td>@r.DtmStartDateTime</td>
                            <td>@r.DtmEndDateTime</td>
                            <td>@r.StrDescription</td>
                            <td>@r.DurLength.Hours.ToString()h @r.DurLength.Minutes.ToString()m </td>
                            <td>@r.Type.StrName</td>
                            <td>@String.Join(", ", r.LstMembers.Select(m => m.StrName).ToArray())</td>
                            <td>@r.Event.StrName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <br />
    @*}  *@
</div>