@using ensemble_webapp.Database

@model ensemble_webapp.ViewModels.ScheduleHomeVM
@{
    ViewBag.Title = "ScheduleHome";
}


    <div class="container">
        <h2><strong>Schedule</strong></h2>

        @if (Model.LstUpcomingRehearsals.Any())
        {
            <h3>Your Upcoming Rehearsals</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Notes</th>
                        <th>Location</th>
                        <td>Your Rehearsal Parts</td>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.LstUpcomingRehearsals)
                    {
                        <tr>
                            <td>@r.DtmStartDateTime</td>
                            <td>@r.DtmEndDateTime</td>
                            <td>@r.StrNotes</td>
                            <td>@r.StrLocation</td>
                            <td>
                                <ul>
                                    @foreach (var rp in r.LstRehearsalParts)
                                    {
                                        <li>@rp.ToString()</li>
                                    }
                                </ul>
                            </td>
                            <td>@r.Event.StrName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }


        <hr />

        @if (Model.LstUnscheduledRehearsalParts.Any())
        {
            <h3><strong>Unscheduled Rehearsal Parts</strong> for your Events</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Length</th>
                        <th>Type</th>
                        <th>Who</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.LstUnscheduledRehearsalParts)
                    {
                        <tr>
                            <td>@r.StrDescription</td>
                            <td>@r.DurLength.Hours.ToString()h @r.DurLength.Minutes.ToString()m </td>
                            <td>@r.Type.StrName</td>
                            <td>@String.Join(", ", r.LstMembers.Select(m => m.StrName).ToArray())</td>
                            <td>@r.Event.StrName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <hr />

        <div class="text-center">
            <button onclick="location.href='@Url.Action("Index", "Conflict")'" class="btn btn-info">
                Add Your Conflicts
            </button>
        </div>

        @if (Globals.IS_ADMIN)
        {
            <hr />
            using (Html.BeginForm("CreateNewSchedule", "Schedule", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h2>WARNING</h2>
                <p>This will delete your previous schedule.</p>
                <br />
                <label for="SelectedEvent.IntEventID">Event</label>
                @Html.DropDownListFor(m => m.SelectedEvent.IntEventID, new SelectList(Model.LstAdminEvents, "intEventID", "strName"), new { @class = "form-control" })
                for (int i = 0; i < Model.LstUserRehearsalParts.Count; i++)
                {
                    Html.HiddenFor(model => Model.LstUserRehearsalParts[i]);
                }
                @*@Html.HiddenFor(m => m.LstAllRehearsalParts)*@
                <br />
                <input type="submit" value="generate new schedule" class="form-control btn-primary" />
            }
        }

    </div>