@model ensemble_webapp.ViewModels.ProfileHomeVM
@{
    ViewBag.Title = "ProfileHome";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>ProfileHome</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Name: @Model.CurrentUser.StrName</p>
                <p>Email: @Model.CurrentUser.StrEmail</p>
                <p>Phone: @Model.CurrentUser.StrPhone</p>
            </div>
            <div class="col-12">
                <p>list of events you're part of</p>
                <ul>
                    @foreach (var e in Model.CurrentUser.LstEvents)
                    {
                        <li>@e.StrName</li>
                    }
                </ul>
            </div>
        </div>
        <div class="row edit-user">
            @using (Html.BeginForm("EditUser", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="newUser.StrEmail">New Email</label>
                @Html.EditorFor(m => m.EditedUserProfile.StrEmail, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label for="newUser.StrPhone">New Phone</label>
                @Html.EditorFor(m => m.EditedUserProfile.StrPhone, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <input type="submit" value="edit user details" class="form-control btn-primary" />
            }
        </div>
        <div class="row edit-pass">
            @using (Html.BeginForm("ChangePass", "Profile", FormMethod.Post, new { enctype = "nultipart/form-data" }))
            {
                <label for="changePass.StrNewPass">New Password</label>
                @Html.EditorFor(m => m.NewPass, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label for="changePass.StrOldPass1">Old Password</label>
                @Html.EditorFor(m => m.OldPass1, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label for="changePass.StrOldPass2">Reenter Old Password</label>
                @Html.EditorFor(m => m.OldPass2, new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="change password" class="form-control btn-primary" />
            }
        </div>
        <br />
        <div class="row add-group">
            @using (Html.BeginForm("AddUserToEvent", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label>Join Event</label>
                @Html.DropDownListFor(m => m.NewEvent.IntEventID, new SelectList(Model.LstEventsToJoin, "intEventID", "strName"), new { @class = "form-control" })
                <input type="submit" value="join event" class="form-control btn-primary" />
            }
        </div>
        <div class="row mt-5">
            @using (Html.BeginForm("LogOut", "Home"))
            {
                <input type="submit" value="Logout" />
            }

        </div>
    </div>
