@model ensemble_webapp.ViewModels.ProfileHomeVM
@{
    ViewBag.Title = "ProfileHome";
}

<h2>ProfileHome</h2>

@*make these all editable (so a toggle or form or something):*@

<p>Name: @Model.CurrentUser.StrName</p>
<p>Email: @Model.CurrentUser.StrEmail</p>
<p>Phone: @Model.CurrentUser.StrPhone</p>

@using (Html.BeginForm("EditUser", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ListBoxFor(m => m.EditedUserProfile.StrName, new SelectList(Model.CurrentUser.StrName, "strName"))
    @Html.ListBoxFor(m => m.EditedUserProfile.StrEmail, new SelectList(Model.CurrentUser.StrEmail, "strEmail"))
    @Html.ListBoxFor(m => m.EditedUserProfile.StrPhone, new SelectList(Model.CurrentUser.StrPhone, "strPhone"))
}

<p>list of groups you're part of</p>
<ul>
    @foreach (var e in Model.CurrentUser.LstEvents)
    {
        <li>@e.StrName</li>
    }
</ul>

<br />
<br />

<p>form to add group</p>
@using (Html.BeginForm("AddUserToEvent", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @Html.ListBoxFor(m => m.EditedUserProfile.LstEvents, new SelectList(Model.LstAllEvents, "intEventID", "strName"))
    </p>
}

<p>logout</p>
@using (Html.BeginForm("LogOut", "Home"))
{
    <input type="submit" value="Logout" />
}