@model ensemble_webapp.ViewModels.ProfileHomeVM
@{
    ViewBag.Title = "ProfileHome";
}

<h2>ProfileHome</h2>

<p>Username: @Model.CurrentUser.StrUsername</p>

@*make these all editable (so a toggle or form or something):*@

<p>Name: @Model.CurrentUser.StrName</p>

<p>Email: @Model.CurrentUser.StrEmail</p>

<p>Phone: @Model.CurrentUser.IntPhone</p>

<p>list of groups you're part of</p>
<ul>
    @foreach (var e in Model.CurrentUser.LstEvents)
    {
        <li>@e.StrName</li>
    }
</ul>

<br />
<br />


<p>form to add group</p>


@using (Html.BeginForm("AddUserToEvent", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @Html.ListBoxFor(m => m.EditedUserProfile.LstEvents, new SelectList(Model.LstAllEvents, "intEventID", "strName"))
    </p>
}