@model ensemble_webapp.ViewModels.ProfileHomeVM
@{
    ViewBag.Title = "ProfileHome";
}

<style type="text/css">
    .right {
        float: right;
        width: 400px;
    }

    .left {
        float: left;
        width: 400px
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><strong>Profile</strong></h2>
        </div>
    </div>
    <div class="left">
        <div class="row">
            <div class="col-12">
                <p>Name: @Model.CurrentUser.StrName</p>
                <p>Email: @Model.CurrentUser.StrEmail</p>
                <p>Phone: @Model.CurrentUser.StrPhone</p>
            </div>
            <div class="col-12">
                <p>list of events you're part of</p>
                <ul>
                    @foreach (var e in Model.CurrentUser.LstEvents)
                    {
                        <li>@e.StrName</li>
                    }
                </ul>
            </div>
        </div>
        <button onclick="showDiv('edit-user-row')" class="btn btn-info">Toggle Edit User Form</button>
        <div id="edit-user-row" class="row edit-user" style="display: none;">
            @using (Html.BeginForm("EditUser", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="newUser.StrEmail">New Email</label>
                @Html.EditorFor(m => m.EditedUserProfile.StrEmail, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <label for="newUser.StrPhone">New Phone</label>
                @Html.EditorFor(m => m.EditedUserProfile.StrPhone, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <input type="submit" value="edit user details" class="form-control btn-primary" />
            }
        </div>
        <br />
        <div class="row mt-5">
            @using (Html.BeginForm("LogOut", "Home"))
            {
                <input type="submit" class="btn btn-danger" value="Logout" />
            }

        </div>
    </div>
    <div class="right">
        <button onclick="showDiv('add-group-row')" class="btn btn-info">Toggle Add Group Form</button>
        <div id="add-group-row" class="row add-group" style="display: none;">
            @using (Html.BeginForm("AddUserToEvent", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label>Join Event</label>
                @Html.DropDownListFor(m => m.NewEvent.IntEventID, new SelectList(Model.LstEventsToJoin, "intEventID", "strName"), new { @class = "form-control" })
                <br />
                <input type="submit" value="join event" class="form-control btn-primary" />
            }
        </div>
        <br />
        <br />
        <button onclick="showDiv('edit-pass-row')" class="btn btn-info">Toggle Change Password Form</button>
        <div id="edit-pass-row" class="row edit-pass" style="display: none;">
            @using (Html.BeginForm("ChangePass", "Profile", FormMethod.Post, new { enctype = "nultipart/form-data" }))
            {
                <label for="changePass.StrOldPass1">Old Password</label>
                @Html.PasswordFor(m => m.OldPass1, new { @class = "form-control" } )
                <br />
                <label for="changePass.StrOldPass2">Reenter Old Password</label>
                @Html.PasswordFor(m => m.OldPass2, new { @class = "form-control" } )
                <br />
                <label for="changePass.StrNewPass">New Password</label>
                @Html.PasswordFor(m => m.NewPass, new { @class = "form-control" } )
                <br />
                <input type="submit" value="change password" class="form-control btn-primary" />
            }
        </div>
    </div>
</div>
